*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.title{
    font-family: 'Permanent Marker', cursive;
    border: solid 2px salmon;
    text-align: center;
    padding-top: 64px;
    padding-bottom: 64px;
    letter-spacing: 6pt;
}

h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    text-align: center;
    font-size: 14pt;
    border: solid 2px salmon;
}

.container{
    display: flex;
}

.score{
    display: flex;
    border: solid 2px salmon;
    width: 100%;
    justify-content: space-evenly;
    padding-top: 64px;
    padding-bottom: 64px;
    margin-top: 64px;
    column-width: 3;
}

.guessedLetters{
    border: solid 2px salmon;
    width: 49%;
}

